################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.cache
*.sqlite
/.vs/VSWorkspaceState.json
*.suo
*.dtbcache
*.lock
*.ide
*.ide-shm
*.ide-wal
*.cs
/TcpListener/bin/Debug
/TcpListener/obj/Debug
